@using Fr.EQL.AI109.Tontapat.Model
@using Fr.EQL.AI109.Tontapat.Dto


@model OffreToPrestationDto

@{
    string InstallationString = null;
    if (Model.TypeInstallation == true)
    {
        InstallationString = "de l'éleveur";
    }
    else
    {
        InstallationString = "du client";
    }

    ViewData["Title"] = Model.OffreRef.NomOffre + " - Offres";
}
<h1>@Model.OffreRef.NomOffre</h1>



<div class="box-offre-details-header">
    <div>

        <img class="img-offre-thumbnail-profil" src="~/img/photos/profile/@(Model.OffreRef.IdUtilisateur).png" />
        Proposée par <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.OffreRef.IdUtilisateur">@Model.OffreRef.PrenomEleveur</a> |
        @for (int i = 0; i < Model.OffreRef.Moyenne; i++)
        {
            if (Model.OffreRef.Moyenne - i < 1)
            {
                <i class="fas fa-star-half"></i>
                break;
            }
            <i class="fas fa-star"></i>
        }


        @Model.OffreRef.Moyenne (@Model.OffreRef.NbEvaluations évaluations)
    </div>
</div>

@*
    <div class="search-button-bar">
        <div class="div-search">
            <div class="icon-search-button">
                <img src="~/img/icons/terrain.png">
            </div>
            <div>
                <select class="terrain-select-search"
                        name="idTerrain"
                        id="terrain-superficie"
                        onchange="ChangeOffreDetails()"
                        disabled>

                    @foreach (Terrain t in ViewBag.Terrains)
                    {
                        <option value="@t.Id">
                            @t.Nom
                        </option>
                    }
                </select>
            </div>
        </div>

        <div class="div-search">
            <div class="icon-search-button">
                <i class="fas fa-tachometer-alt"></i>
            </div>
            <div>
                <select class="terrain-select-search"
                        name="IdTypeTonte"
                        id="tonte-select"
                        onchange="ChangeOffreDetails()"
                        disabled>

                    @foreach (TypeTonte tt in ViewBag.TypesTonte)
                    {
                        <option value="@tt.Id">
                            @tt.Nom
                        </option>
                    }
                </select>
            </div>
        </div>

        <div class="div-search">
            <div class="icon-search-button">
                <i class="fas fa-calendar-alt"></i>
            </div>
            <div>
                <input class="terrain-select-search"
                       type="date"
                       id="datedebut"
                       name="datedebut"
                       value="@Model.DateDebut"
                       onchange="ChangeOffreDetails()"
                       disabled />
            </div>
        </div>

        <div class="div-search">
            <div class="icon-search-button">
                <i class="fas fa-calendar-alt"></i>
            </div>
            <div>
                <input class="terrain-select-search"
                       type="date"
                       id="datefin"
                       name="DateFin"
                       value="@Model.DateFin"
                       min="@DateTime.Today.AddDays(2).ToString("yyyy-MM-dd")"
                       onchange="ChangeOffreDetails()"
                       disabled />
            </div>
        </div>
    </div>*@

<div class="box-offre-details">

    <div class="offre-details-main">
        <div class="box-offre">
            <div class="info-offre">
                <h3>Caractéristiques de l'offre</h3>

                <table class="offre-features">
                    <tr>
                        <td>
                            <i class="fas fa-location-arrow"></i>
                        </td>
                        <td>
                            @Model.OffreRef.VilleTroupeau (à @(Model.Distance)km)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-list" src="~/img/icons/espece/1.png" />
                        </td>
                        <td>
                            @Model.OffreRef.Race (@Model.NbBetes)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-calendar-alt"></i>
                        </td>
                        <td>
                            Du @Model.DateDebut.ToString("dd/MM/yy") au @Model.DateFin.ToString("dd/MM/yy")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-tachometer-alt"></i>
                        </td>
                        <td>
                            Tonte : @Model.OffreRef.TypeTonte
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-list" src="~/img/icons/install.png" />
                        </td>
                        <td>
                            Installation à la charge de @InstallationString)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-binoculars"></i>
                        </td>
                        <td>
                            Fréquence d'intervention : tous les @Model.OffreRef.FrequenceIntervention jours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-times fa-lg"></i>
                        </td>
                        <td>
                            Conditions d'annulation : @Model.OffreRef.Condition
                            <i class="far fa-question-circle" title="Annulation gratuite jusqu’à XX jours avant la prestation, facturation de la prestation à hauteur de XX% au-delà."></i>
                        </td>
                    </tr>

                </table>

                <div>
                    <h3>Description</h3>
                    @Model.OffreRef.DescriptionOffre
                </div>

                <div>
                    <h3>Photos</h3>
                    <div class="details-photo">
                        <img src="~/img/photos/troupeaux/1_1.jpg" />
                        <img src="~/img/photos/troupeaux/1_1.jpg" />
                        <img src="~/img/photos/troupeaux/1_1.jpg" />
                        <img src="~/img/photos/troupeaux/1_1.jpg" />
                        <img src="~/img/photos/troupeaux/1_1.jpg" />
                    </div>
                </div>

                <div>
                    <h3>Evaluations (@Model.OffreRef.NbEvaluations)</h3>
                    @foreach (EvaluationDetail ed in ViewBag.Evaluations)
                    {
                        <div class="box-evaluation">
                            <h4>@ed.PrenomTiers</h4>
                            <br />
                            @for (int i = 0; i < Model.OffreRef.Moyenne; i++)
                            {
                                if (Model.OffreRef.Moyenne - i < 1)
                                {
                                    <i class="fas fa-star-half"></i>
                                    break;
                                }
                                <i class="fas fa-star"></i>
                            }
                            @ed.Note
                            <br />@ed.Commentaire
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="box-boutons">
            <form id="offre" method="post">
                <input type="hidden" name="IdOffre" value="@Model.IdOffre" />
                <input type="hidden" name="IdTerrain" value="@Model.IdTerrain" />
                <input type="hidden" name="IdTypeTonte" value="@Model.IdTypeTonte" />
                <input type="hidden" name="Distance" value="@Model.Distance" />
                <input type="hidden" name="NbBetes" value="@Model.NbBetes" />
                <input type="hidden" name="TypeInstallation" value="@Model.TypeInstallation" />
                <input type="hidden" name="DateDebut" value="@Model.DateDebut.ToString("dd-MM-yyyy")" />
                <input type="hidden" name="DateFin" value="@Model.DateFin.ToString("dd-MM-yyyy")" />
                <input type="hidden" name="Duree" value="@Model.Duree" />
                <input type="hidden" name="PrixInstallationBetail" value="@Model.PrixInstallationBetail" />
                <input type="hidden" name="PrixInstallationCloture" value="@Model.PrixInstallationCloture" />
                <input type="hidden" name="PrixBetail" value="@Model.PrixBetail" />
                <input type="hidden" name="PrixIntervention" value="@Model.PrixIntervention" />
                <input type="hidden" name="PrixService" value="@Model.PrixService" />
                <input type="hidden" name="PrixTVA" value="@Model.PrixTVA" />
                <input type="hidden" name="PrixTotal" value="@Model.PrixTotal" />
                <button class="btn-success" type="submit" form="offre" value="submit">Réserver</button>
                <button class="btn-primary" type="reset" form="offre" value="negociate">Négocier</button>
            </form>

        </div>
    </div>

    <div class="offre-details-tarif">
        <div class="box-offre">
            <div class="info-offre tarif">
                <h3>Tarification</h3>
                <table class="tarif">
                    <tr>
                        <td>
                            Installation de clôture
                        </td>
                        <td class="prix"
                            id="prix_installation">
                            @Model.PrixInstallationBetail€
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Installation du bétail
                        </td>
                        <td class="prix"
                            id="prix_installation">
                            @Model.PrixInstallationCloture€
                        </td>
                    </tr>


                    <tr>
                        <td>
                            Frais de bétail
                        </td>
                        <td class="prix"
                            id="prix_betail">
                            @Model.PrixBetail€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Frais d'intervention
                        </td>
                        <td class="prix"
                            id="prix_intervention">
                            @Model.PrixIntervention€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Frais de service
                        </td>
                        <td class="prix"
                            id="prix_service">
                            @Model.PrixService€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TVA (20%)
                        </td>
                        <td class="prix"
                            id="prix_tva">
                            @Model.PrixTVA€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Total</h4>
                        </td>
                        </td>
                        <td class="prix">
                            <h4 id="prix_total">@Model.PrixTotal€</h4>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box-boutons">
            <button class="btn-success" type="submit" form="offre" value="submit">Réserver</button>
            <button class="btn-primary" type="reset" form="offre" value="negociate">Négocier</button>
        </div>
    </div>
</div>
    </div>