@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Fr.EQL.AI109.Tontapat.Model

@model OffreDetail
@{
    string InstallationString = null;
    if (Model.TypeInstallation)
    {
        InstallationString = "de l'éleveur";
    }
    else
    {
        InstallationString = "du client";
    }

}

<h1>@Model.NomOffre</h1>

<div class="box-offre-details-header">
    <div>

        <img class="img-offre-thumbnail-profil" src="~/img/photos/profile/@(Model.IdUtilisateur).png" />
        Proposée par <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.IdUtilisateur">@Model.PrenomEleveur</a> | 
        @for (int i = 0; i < Model.Moyenne; i++)
        {
            if (Model.Moyenne - i < 1)
            {
                <i class="fas fa-star-half"></i>
                break;
            }
            <i class="fas fa-star"></i>
        }


        @Model.Moyenne (@Model.NbEvaluations évaluations)
    </div>
</div>

<div class="box-offre-details">

    <div class="offre-details-main">
        <div class="box-offre">
            <div class="info-offre">
                <h3>Caractéristiques de l'offre</h3>

                    <table class="offre-features">
                        <tr>
                            <td><i class="fas fa-location-arrow"></i>
                            </td>
                            <td>
                                @Model.VilleTroupeau (et @(Model.ZoneCouverture)km autour)
                                                    </td>
                        </tr>
                        <tr>
                            <td><img class="icon-list" src="~/img/icons/espece/1.png" />
                            </td>
                            <td>
                                @Model.Race
                                                    </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-calendar-alt"></i>
</td>
                            <td>
                                Du @Model.DateDebut.ToString("dd/MM/yy") au @Model.DateFin.ToString("dd/MM/yy")
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-tachometer-alt"></i>
                            </td>
                            <td>
                                @Model.TypeTonte
                                                    </td>
                        </tr>
                        <tr>
                            <td><img class="icon-list" src="~/img/icons/install.png" />
                            </td>
                            <td>
                                Installation à la charge @InstallationString
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-binoculars"></i>
                            </td>
                            <td>
                                Fréquence d'intervention : tous les @Model.IdFrequence jours
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-times fa-lg"></i>
                            </td>
                            <td>
                                Conditions d'annulation : @Model.Condition
                                <i class="far fa-question-circle" title="Annulation gratuite jusqu’à XX jours avant la prestation, facturation de la prestation à hauteur de XX% au-delà."></i>
                            </td>
                        </tr>

                    </table>

                <div>
                    <h3>Description</h3>
                    @Model.DescriptionOffre
                </div>

                <div>
                    <h3>Photos</h3>
                    <div class="details-photo">
                        <img src="~/img/photos/troupeaux/1_1.jpg" />
                        <img src="~/img/photos/troupeaux/1_1.jpg" />
                        <img src="~/img/photos/troupeaux/1_1.jpg" />
                        <img src="~/img/photos/troupeaux/1_1.jpg" />
                        <img src="~/img/photos/troupeaux/1_1.jpg" />
                    </div>
                </div>

                <div>
                    <h3>Evaluations (@Model.NbEvaluations)</h3>
                    @foreach(EvaluationDetail ed in ViewBag.Evaluations)
            {
                <div class="box-evaluation">
                    @ed.PrenomTiers
                    <br />
                    @for (int i = 0; i < Model.Moyenne; i++)
                    {
                        if (Model.Moyenne - i < 1)
                        {
                            <i class="fas fa-star-half"></i>
                            break;
                        }
                        <i class="fas fa-star"></i>
                    }
                     @ed.Note
                    <br />@ed.Commentaire
                </div>
            }
                </div>
            </div>
        </div>
        <div class="box-boutons">
            <button class="btn-success" type="submit" form="offre" value="submit">Réserver</button>
            <button class="btn-primary" type="reset" form="offre" value="negociate">Négocier</button>
        </div>
    </div>

    <div class="offre-details-tarif">
        <div class="box-offre">
            <div class="info-offre tarif">
                <h3>Tarification</h3>
                <table class="tarif">
                    <tr>
                        <td>
                            Installation
                        </td>
                        <td class="prix">
                            -€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Frais de bétail
                        </td>
                        <td class="prix">
                            -€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Interventions
                        </td>
                        <td class="prix">
                            -€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Frais de service
                        </td>
                        <td class="prix">
                            -€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TVA (20%)
                        </td>
                        <td class="prix">
                            -€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Total</h4>
                            </td>
                        </td>
                        <td class="prix">
                            <h4>-€</h4>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box-boutons">
            <button class="btn-success" type="submit" form="offre" value="submit">Réserver</button>
            <button class="btn-primary" type="reset" form="offre" value="negociate">Négocier</button>
        </div>
    </div>
</div>