@using Fr.EQL.AI109.Tontapat.Model

@{ 
    string selected = "selected";
    string superficie;
}
<!-- DEBUT DIVS DE MODAL
<div id="Search-modal" class="modal">

    <div class="modal-content">
        <span class="close-modal"></span>"
    -->
<h1>Rechercher une prestation</h1>

<form method="post" id="recherche">
    <div class="box-offre">
        <div class="info-offre">
            <h3>Sélectionnez le lieu de la prestation</h3>
            <label for="terrain">Votre terrain :</label>
            <select name="idTerrain" id="terrain-superficie" onchange="getDateFinMinMax()">
                @foreach (Terrain t in ViewBag.Terrains)
                {
                    <option value="@t.Id">@t.Nom</option>
                }

            </select>
            @foreach (Terrain t in ViewBag.Terrains)
            {
                
                <input type="hidden" id="@t.Id" value="@t.Superficie.ToString().Replace(',', '.')" />
            }

        </div>
    </div>

    <div class="box-offre">
        <div class="info-offre">
            <h3>Sélectionnez les détails de la prestation</h3>

            <p>
                <label for="espece">Type de bétail :</label>
                <select name="IdEspece" id="espece-select">
                    <option value="">Tous</option>
                    @foreach (Espece e in ViewBag.Especes)
                    {
                        <option value="@e.Id">@e.Nom</option>
                    }
                </select>

                <label for="tonte">Type de tonte :</label>
                <select name="IdTypeTonte" id="tonte-select" onchange="getDateFinMinMax()">
                    @foreach (TypeTonte tt in ViewBag.TypesTonte)
                    {
                        <option value="@tt.Id">@tt.Nom</option>
                    }
                </select>
                <i class="far fa-question-circle" title="Le type de tonte concerne la vitesse à laquelle votre terrain sera tondu. Il influe sur le nombre de bêtes présent sur votre terrain et la date de fin de la prestation."></i>
            </p>
            <p>
                <label for="installation">Type d'installation :</label>
                <select name="TypeInstallation" id="installation-select">
                    <option value="">Peu importe</option>
                    <option value="1">À la charge de l'éleveur</option>
                    <option value="0">À votre charge</option>

                </select>
                <i class="far fa-question-circle" title="Le type d'installation définit à qui revient la charge d'installer les infrastructures nécessaires à la prestation (clôtures, abris, abreuvoirs...)"></i>

            </p>

        </div>
    </div>

    <div class="box-offre">
        <div class="info-offre">
            <h3>Choisissez les dates de la prestation</h3>
            <label for="datedebut">Date de début :</label>
            <input type="date" id="datedebut" name="DateDebut"
                   value="@DateTime.Today.AddDays(14).ToString("yyyy-MM-dd")"
                   min="@DateTime.Today.AddDays(2).ToString("yyyy-MM-dd")"
                    onchange="getDateFinMinMax()" />

            <label for="datefin" id="label-fin">Date de fin :</label>
            <input type="date" id="datefin" name="datefin"
                   value="@DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")"
                   disabled />
            <i class="far fa-question-circle" title="La fenêtre de dates de fin est calculée à partir de la superficie de votre terrain et le type de tonte que vous sélectionnez."></i>

        </div>
    </div>
    <div class="box-boutons">
        <button class="btn-success" id="send" type="submit" form="recherche" value="submit" disabled>Rechercher des prestations</button>
        <button class="btn-danger" type="reset" form="recherche" value="reset">Réinitialiser la recherche</button>
    </div>

</form>

@*@section Scripts {
    <script type="module">

        import { getDateFinMinMax } from "/js/site.js";
        document.addEventListener('DOMContentLoaded', getDateFinMinMax);


    </script>
}*@

<!-- FIN DIVS DE MODAL
    </div>
</div>
    -->
