@using Fr.EQL.AI109.Tontapat.Model
@using Fr.EQL.AI109.Tontapat.Dto

@model List<OffreToPrestationDto>
@{
    string description = "...";
    
}

<h1>Résultats de recherche (@Model.Count)</h1>

<div class="Offre-container">

    @foreach (OffreToPrestationDto otpdto in Model)
    {

    <a class="box-offre-link"
       asp-controller="Offre"
       asp-action="DetailsPrestation"
       asp-route-idOffre="@otpdto.IdOffre"
       asp-route-idTerrain="@otpdto.IdTerrain"
       asp-route-idTypeTonte="@otpdto.IdTypeTonte"
       asp-route-distance="@otpdto.Distance"
       asp-route-nbBetes="@otpdto.NbBetes"
       asp-route-typeInstallation="@otpdto.TypeInstallation"
       asp-route-dateDebut="@otpdto.DateDebut"
       asp-route-dateFin="@otpdto.DateFin"
       asp-route-duree="@otpdto.Duree"
       asp-route-prixInstallationBetail="@otpdto.PrixInstallationBetail"
       asp-route-prixInstallationCloture="@otpdto.PrixInstallationCloture"
       asp-route-prixBetail="@otpdto.PrixBetail"
       asp-route-prixIntervention="@otpdto.PrixIntervention"
       asp-route-prixService="@otpdto.PrixService"
       asp-route-prixTVA="@otpdto.PrixTVA"
       asp-route-prixTotal="@otpdto.PrixTotal">

        <form id="@otpdto.OffreRef.Id">
            <input type="hidden" name="IdOffre" value="@otpdto.IdOffre" />
            <input type="hidden" name="IdTerrain" value="@otpdto.IdTerrain" />
            <input type="hidden" name="IdTypeTonte" value="@otpdto.IdTypeTonte" />
            <input type="hidden" name="Distance" value="@otpdto.Distance" />
            <input type="hidden" name="NbBetes" value="@otpdto.NbBetes" />
            <input type="hidden" name="TypeInstallation" value="@otpdto.TypeInstallation" />
            <input type="hidden" name="DateDebut" value="@otpdto.DateDebut" />
            <input type="hidden" name="DateFin" value="@otpdto.DateFin" />
            <input type="hidden" name="Duree" value="@otpdto.Duree" />
            <input type="hidden" name="PrixInstallationBetail" value="@otpdto.PrixInstallationBetail" />
            <input type="hidden" name="PrixInstallationCloture" value="@otpdto.PrixInstallationCloture" />
            <input type="hidden" name="PrixBetail" value="@otpdto.PrixBetail" />
            <input type="hidden" name="PrixIntervention" value="@otpdto.PrixIntervention" />
            <input type="hidden" name="PrixService" value="@otpdto.PrixService" />
            <input type="hidden" name="PrixTVA" value="@otpdto.PrixTVA" />
            <input type="hidden" name="PrixTotal" value="@otpdto.PrixTotal" />
        </form>

        <div class="box-offre box-clickable">
            <div class="img-offre">
                <img class="offre-thumbnail" src="~/img/photos/troupeaux/@(otpdto.OffreRef.IdTroupeau)_1.jpg" />
            </div>
            <div class="info-offre">
                <div class="en-tete-offre">
                    <h3>
                        @otpdto.OffreRef.NomOffre
                    </h3>

                    <img class="img-offre-thumbnail-profil" src="~/img/photos/profile/@(otpdto.OffreRef.IdUtilisateur).png" />
                    @otpdto.OffreRef.PrenomEleveur,

                    <i>@otpdto.OffreRef.VilleTroupeau</i> (à @(otpdto.Distance + "km"))



                </div>
                <div class="description">
                    <p>
                        <i>
                            @if (otpdto.OffreRef.DescriptionOffre.Length > 100)
                            {
                                @(otpdto.OffreRef.DescriptionOffre.Substring(0, 100) + description)
                            }

                            else
                            {
                                @otpdto.OffreRef.DescriptionOffre
                            }
                        </i>
                    </p>
                </div>

                <div class="info-footer">
                    <div>
                        <img class="icon" src="~/img/icons/espece/@(otpdto.OffreRef.IdEspece).png" />@otpdto.OffreRef.Race (@otpdto.NbBetes)
                    </div>
                    <div>
                        <i class="fas fa-calendar-alt"></i>jusqu'au @otpdto.DateFin.ToString("dd/MM/yyyy")
                    </div>
                    <div>
                        <i class="fas fa-tachometer-alt"></i>@otpdto.OffreRef.TypeTonte
                    </div>
                    <div>
                        <i class="fa fa-times"></i>@otpdto.OffreRef.Condition
                    </div>
                </div>
            </div>
            <div class="resultat-prix">
                <div class="prix">
                    @otpdto.PrixTotal€

                    <i class="far fa-question-circle info-prix-bulle" title="Prix d'installation de clôture : @otpdto.PrixInstallationCloture€&#10;Prix d'installation du bétail : @otpdto.PrixInstallationBetail€&#10;Frais de bétail : @otpdto.PrixBetail€&#10;Prix d'intervention : @otpdto.PrixIntervention€"></i>
                </div>
                <div class="evaluation-offre">

                    @{  
                        if (otpdto.OffreRef.Moyenne == 0)
                            otpdto.OffreRef.Moyenne = 3.5;
                        for (int i = 0; i < otpdto.OffreRef.Moyenne; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                    }
                    <p>(@otpdto.OffreRef.NbEvaluations)</p>
                </div>
            </div>

        </div>
    </a>
    }
    
</div>