@using Fr.EQL.AI109.Tontapat.Model

<div class="search-bar">
    <div class="div-search">
        <img src="~/img/icons/terrain.png">
        <select class="terrain-select-search">
            @foreach (Terrain t in ViewBag.Terrains)
            {
                <option value="@t.Id">
                    @t.Nom
                </option>
            }
        </select>
    </div>
    <div class="div-search">
        <i class="fas fa-tachometer-alt"></i>
        <select class="terrain-select-search">
            @foreach (TypeTonte tt in ViewBag.Tontes)
            {
                <option value="@tt.Id">
                    @tt.Nom
                </option>
            }
        </select>
    </div>
    <div class="div-search">
        <img src="~/img/icons/terrain.png">
        <select class="terrain-select-search">
            @foreach (Espece e in ViewBag.Especes)
            {
                <option value="@e.Id">
                    @e.Nom
                </option>
            }
        </select>
    </div>
    <div class="div-search">
        <img src="~/img/icons/install.png">
        <select class="terrain-select-search">
            <option value=1>
                eleveur
            </option>
            <option value=2>
                client
            </option>
        </select>
    </div>
    <div class="div-search">
        <i class="fas fa-calendar-alt"></i>
        <input type="date" id="datedebut" name="datedebut"
               value="@DateTime.Today.AddDays(14).ToString("yyyy-MM-dd")"
               min="@DateTime.Today.AddDays(2).ToString("yyyy-MM-dd")" />
    </div>
</div>