@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.AI109.Tontapat.Model;
@model UtilisateurDetail
@{
    ViewData["Title"] = "Profil de l'éleveur " + Model.Prenom;

    double averg = new double();
    if (Model.Moyenne == null)
    {
        averg = 0;
    }
    else
    {
        averg = (double)Model.Moyenne;
    }
    double average = Math.Round(averg, 1);

    string description = "...";
  
}



<div class="box-profil">
    <div class="img-profil-div">
        <img class="img-profil" src="~/img/photos/profile/@(Model.Id).png" />
    </div>
    <div class="info-utilisateur">
        <h2>@Model.Prenom</h2>
        <p>@Model.NomVille</p>
        <div class="box-evaluation">
            @for (int i = 0; i < Model.Moyenne; i++)
            {
                if (Model.Moyenne - i < 1)
                {
                    <i class="fas fa-star-half"></i>
                    break;
                }
                <i class="fas fa-star"></i>
            }
            @average
        </div>
    </div>

</div>
<div class="box-presentation">
    <h3>Présentation</h3>
    <div class="box-description">
        @Model.Presentation
    </div>
</div>
<div class="Offre-container">
    @foreach (OffreDetail od in ViewBag.OffresDetails)
    {
        <a class="box-offre-link" asp-controller="Offre" asp-action="Details" asp-route-id="@od.Id">
            <div class="box-offre box-clickable">
                <div class="img-offre">
                    <img class="offre-thumbnail" src="~/img/photos/troupeaux/@(od.IdTroupeau)_1.jpg" />
                </div>
                <div class="info-offre">
                    <div class="en-tete-offre">
                        <h3>
                            @od.NomOffre
                        </h3>
                        <i>@od.VilleTroupeau</i>
                        (et @(od.ZoneCouverture)km autour)
                    </div>

                    <div class="description">
                        <p>
                            <i>
                                @if (od.DescriptionOffre.Length > 100)
                                {
                                    @(od.DescriptionOffre.Substring(0, 100) + description)
                                }

                                else
                                {
                                    @od.DescriptionOffre
                                }
                            </i>
                        </p>
                    </div>

                    <div class="info-footer">
                        <div>
                            <img class="icon" src="~/img/icons/espece/@(od.IdEspece).png" />@od.Race
                        </div>
                        <div>
                            <i class="fas fa-calendar-alt"></i>jusqu'au @od.DateFin.ToString("dd/MM/yyyy")
                        </div>
                        <div>
                            <i class="fas fa-tachometer-alt"></i>@od.TypeTonte
                        </div>
                        <div>
                            <i class="fa fa-times"></i>@od.Condition
                        </div>
                    </div>
                </div>

            </div>
        </a>
    }
</div>


