@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.AI109.Tontapat.Model;
@model UtilisateurDetail
@{
    double averg = new double();
    if (Model.Moyenne == null)
    {
        averg = 0;
    }
            else
            {
            averg = (double) Model.Moyenne;
            }
   double average = Math.Round(averg, 1);
       
}



<div class="box-profil">
    <div class="img-profil-div">
        <img class="img-profil" src="~/img/photos/profile/@(Model.Id).png" />
    </div>
    <div class="info-utilisateur">
        <h2>@Model.Prenom</h2>
        <p>@Model.NomVille</p>
        @*  star essai*@
        <div class="rating">
            <div class="stars-outer">
                <div class="stars-inner"></div>
            </div>
            <span class="number-rating">@average</span>
        </div>
    </div>

</div>
<div class="box-presentation">
    <h3>Présentation</h3>
    <div class="box-description">
        @Model.Presentation
    </div>
</div>
<div class="Offre-container">
    @foreach (OffreDetail od in ViewBag.OffresDetails)
    {

        <div class="box-offre">
            <div class="img-offre">
                <img class="offre-thumbnail" src="~/img/photos/troupeaux/@(od.IdTroupeau)_1.jpg" />
            </div>
            <div class="info-offre">
                <h3>
                    @od.NomOffre
                </h3>
                <p>Ici c'est l'évaluation</p>
                <div class="info-footer">
                    <ul class="liste-detail-eleveur">
                        <li><img class="icon" src="~/img/icons/espece/@(od.IdEspece).png" />@od.Race</li>
                        <li><i class="fas fa-calendar-alt"></i>jusqu'au @od.DateFin.ToString("dd/mm/yyyy")</li>
                        <li> <i class="fas fa-tachometer-alt"></i>@od.TypeTonte</li>
                        <li><i class="fa fa-times"></i>@od.Condition</li>

                    </ul>
                </div>
            </div>

        </div>
    }
</div>


<script type="module">

    import { getRating } from "/js/site.js";
    document.addEventListener('DOMContentLoaded', getRating);
    const note = parseFloat((@average)) ;
    console.log(note);
    getRating(note);

</script>
