@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
    @using Fr.EQL.AI109.Tontapat.Model;
    @model UtilisateurDetail
@{
}
<div class="profil-container">

    <header>

        <div class="img-container">
            <img class="img-container-form" src="~/img/photos/profile/@(Model.Id).png" />
        </div>

        <h1>@Model.Prenom</h1>

        <div class="rate-profil">
            @for (int i = 0; i < Model.Moyenne; i++)
            {
                if (Model.Moyenne - i < 1)
                {
                    <i class="fas fa-star-half"></i>
                    break;
                }
                <i class="fas fa-star"></i>
            }
            <span id="rate-number-profil"> (@Model.NbEvaluation) </span>
        </div>
    </header>
</div>
<div class="principal-profil">
    <div class="container">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Mon profil</a></li>
            <li><a data-toggle="tab" href="#menu1">Courriel et mot de passe</a></li>
            <li><a data-toggle="tab" href="#menu2">Mes modes de paiement</a></li>
            <li><a data-toggle="tab" href="#menu3">Mes évaluations</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="container mt-3">
                    
                    <form>
                        <div class="identite-profil">
                            <div class="identite">
                                <h4>Identité</h4>
                                <label for="get">Nom</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="@Model.Nom" id="demo" name="email">

                                </div>
                                <label for="get">Prenom</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="@Model.Prenom" id="demo" name="email">
                                </div>
                                <label for="get">Date de naissance</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="@Model.DateNaissance" id="demo" name="email">
                                </div>
                            </div>
                            <div class="adresse">
                                <h4>Adresse</h4>
                                <label for="get">N* de voie et complément</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="@Model.AdresseVoie" id="demo" name="email">
                                </div>
                                <label for="get">Code postal</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Code postal" id="demo" name="email">
                                </div>
                                <label for="get">Ville</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="@Model.NomVille" id="demo" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="button-update">
                            <button class="btn-success" id="send" type="submit" form="recherche" value="submit" disabled>Rechercher des prestations</button>
                        </div>
                    </form>
                    
                </div>
            </div>

            <div id="menu1" class="tab-pane fade">
                <div class="container mt-3">
                    <form>
                        <div class="identite-profil">
                            <div class="courriel-password">
                                <h4>Mes coordonnées</h4>
                                <label for="get">Adresse e-mail</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="@Model.Email" id="demo" name="email">
                                </div>
                                <label for="get">Mot de passe</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="@Model.MotDePasse" id="demo" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="button-update">
                            <button class="btn-success" id="send" type="submit" form="recherche" value="submit" disabled>Rechercher des prestations</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="menu2" class="tab-pane fade">
                <div class="container mt-3">
                    <form>
                        <div class="identite-profil">
                            <div class="identite">
                                <h4>Adresse</h4>
                                <label for="get">N* de voie et complément</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="@Model.AdresseVoie" id="demo" name="email">
                                </div>
                                <label for="get">Code postal</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Code postal" id="demo" name="email">
                                </div>
                                <label for="get">Ville</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="@Model.NomVille" id="demo" name="email">
                                </div>
                            </div>
                            <div class="adresse">
                                <div class="img-paiement">
                                    <div class="cont-visa-master">
                                        <img class="logo-paiement" src="~/img/icons/paiement/visa_master.jpg" />
                                    </div>

                                    <div class="img-virement">
                                        <img class="logo-paiement" src="~/img/icons/paiement/sepa.png" />
                                    </div>


                                    <div class="img-paypal">
                                        <img class="logo-paiement" src="~/img/icons/paiement/paypal.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="button-update">
                                <button class="btn-success" id="send" type="submit" form="recherche" value="submit" disabled>Rechercher des prestations</button>
                            </div>
                    </form>
                </div>
            </div>

            <div id="menu3" class="tab-pane fade">
                <h3>Mes évaluations</h3>
                @{
                    if (Model.NbEvaluation != 0)
                    {
                        foreach (Evaluation ev in Model.MesEvals)
                        {
                            <div class="identite-profil">
                                <h4>@ev.Note /5</h4>
                                <br />
                                <p>@ev.Commentaire</p>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="identite-profil" style="text-align: center;">
                            <p>(Aucune évaluation à ce jour.)</p>
                        </div>
                    }

                }


            </div>
    </div>
</div>



    
