@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Fr.EQL.AI109.Tontapat.Model;
@model List<TerrainDetail>
@{
    int n = 1;
}

<h4 style="text-align: center; padding:15px">Mes Terrains</h4>


@if (Model.Any())
{

    <div class="box_troupeau">
        <table class="prestations-list">
            <tr>
                <th scope="col">
                    Référence
                </th>
                <th scope="col">
                    Nom
                </th>
                <th scope="col">
                    Type
                </th>
                <th scope="col">
                    Superficie
                </th>
                <th>
                    Ville
                </th>
                <th scope="col">
                    Code postal
                </th>
                <th scope="col">
                    Date d'ajout
                </th>
                <th scope="col">
                    Disponible
                </th>

            </tr>


            @foreach (TerrainDetail t in Model)
            {
                @*
                    <div>
                        <table>*@
                <tr>
                    <td>
                        <a asp-controller="Terrain" asp-action="Update" asp-route-id="@t.Id">
                            #@(n++)
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Terrain" asp-action="Update" asp-route-id="@t.Id">
                            @t.Nom
                        </a>
                    </td>
                    <td>
                        @t.Type
                    </td>
                    <td>
                        @t.Superficie
                    </td>
                    <td>
                        @t.Ville
                    </td>
                    <td>
                        @t.CodePostal
                    </td>
                    <td>
                        @t.DateAjout.ToString("dd/MM/yy")
                    </td>
                    <td>
                        @if (t.DateRetrait <= DateTime.Now)
                        {
                            <span>Non</span>
                        }
                        else
                        {
                            <span>Oui</span>
                        }

                    </td>

                </tr>

            }
        </table>
    </div>
    <div class="button-update">
        <a class="btn btn-primary btn-lg active" style="background-color:seagreen; border-color: darkseagreen" role="button" aria-pressed="true" asp-controller="Terrain" asp-action="New" asp-route-id="1">Nouveau terrain</a>
    </div>
}

else
{
    <div class="no_troupeau">
        <p>Vous ne disposez pas de terrain pour le moment.</p>
        <div class="button-update">
            <a class="btn btn-primary btn-lg active" style="background-color:seagreen; border-color: darkseagreen" role="button" aria-pressed="true" asp-controller="Terrain" asp-action="New" asp-route-id="1">Nouveau terrain</a>
        </div>
        <img src="~/img/photos/troupeaux/troupeau0.jpg" />
    </div>


}