@using Fr.EQL.AI109.Tontapat.Model

@model PrestationDetail

@{

    ViewData["Title"] = "Détails de votre prestation";

    string InstallationString = null;
    if (Model.TypeInstallationFinal == true)
    {
        InstallationString = "la charge de l'éleveur";
    }
    else
    {
        InstallationString = "votre charge";
    }
    string CancelledString = " (annulée le ";
}


<h1>Prestation #@(Model.DateDemande.ToString("yyMMdd"))-@Model.Id</h1>

<div class="box-offre-details-header">
    <div>
        <img class="img-offre-thumbnail-profil" src="~/img/photos/profile/@(Model.IdEleveur).png" />
        Réalisée par <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.IdEleveur">@Model.PrenomEleveur</a>
    </div>
    <div class="prestation-statut">
        @{ if (Model.DateAnnulation != null)
            {
                <h3>Annulée</h3>
                <div class="box-boutons">
                    <a class="btn btn-success" asp-controller="Offre" asp-action="Index">Voir plus d'offres</a>
                </div>
            }
            else if (Model.DateRefus != null)
            {
                <h3>
                    Refusée
                </h3>
                <div class="box-boutons">
                    <a class="btn btn-success" asp-controller="Offre" asp-action="Index">Voir plus d'offres</a>
                </div>
            }
            else if (Model.DateValidation != null)
            {
                if (Model.DateFin < DateTime.Now)
                {
                    <h3>
                        Terminée
                    </h3>
                    <div class="box-boutons">
                        @if (DateTime.Now.AddDays(-7) <= Model.DateFin)
                        {
                            if (ViewBag.IsAlreadyEvaluee)
                            {
                                <a class="btn btn-info" disabled>Evaluation en attente de publication</a>
                            }
                            else
                            {
                                <a class="btn btn-info" asp-controller="Prestation" asp-action="Evaluer" asp-route-id="@Model.Id">Evaluer la prestation</a>
                            }
                        }
                        <a class="btn btn-success" asp-controller="Utilisateur" asp-action="Eleveur" asp-route-id="@Model.IdEleveur">Voir les autres offres de @Model.PrenomEleveur</a>
                    </div>
                }
                else if (DateTime.Now > Model.DateDebut && DateTime.Now < Model.DateFin)
                {
                    <h3>
                        En cours
                    </h3>
                    <div class="box-boutons">
                        <a class="btn btn-warning" asp-controller="Prestation" asp-action="DemandeIntervention" asp-route-id="@Model.Id">Demande d'interventionr</a>
                        <a class="btn btn-primary" asp-controller="Prestation" asp-action="Negociation" asp-route-id="@Model.Id">Négocier</a>

                        <a class="btn btn-danger" asp-controller="Prestation" asp-action="Annuler" asp-route-id="@Model.Id">Annuler la prestation</a>
                    </div>
                }
                else if (DateTime.Now < Model.DateDebut)
                {
                    <h3>
                        Validée
                    </h3>
                    <div class="box-boutons">

                        @if (Model.Negociations.Count > 0)
                        {

                            if (Model.Negociations.Last().Propositions.Last().IdUtilisateur == 1)
                            {
                                <a class="btn btn-success" asp-controller="Proposition" asp-action="Details" asp-route-id="@Model.Negociations.Last().Propositions.Last().Id">Voir votre proposition</a>

                                <a class="btn btn-warning" asp-controller="Proposition" asp-action="Annuler" asp-route-id="@Model.Negociations.Last().Propositions.Last().Id">Annuler la proposition</a>

                            }
                            else
                            {
                                <a class="btn btn-primary" asp-controller="Proposition" asp-action="Details" asp-route="@Model.Negociations.Last().Propositions.Last().Id">Voir la proposition de @Model.PrenomEleveur</a>
                            }

                        }
                        else
                        {
                        <a class="btn btn-primary" asp-controller="Prestation" asp-action="Negociation" asp-route-id="@Model.Id">Négocier</a>
                        }

                        @*                        <a class="btn btn-primary" asp-controller="Offre" asp-action="Negociation" asp-route-id="@Model.Id">Négocier</a>*@

                        <a class="btn btn-danger" asp-controller="Prestation" asp-action="Annuler" asp-route-id="@Model.Id">Annuler la prestation</a>
                    </div>
                }
            }
            else
            {
                <h3>
                    En attente de validation
                </h3>
                <div class="box-boutons">
                    <a class="btn btn-success" asp-controller="Offre" asp-action="Index">Voir plus d'offres</a>
                    <a class="btn btn-danger" asp-controller="Prestation" asp-action="Annuler" asp-route-id="@Model.Id">Annuler la demande</a>
                </div>
            }
        }
    </div>

</div>

<div class="box-offre-details">

    <div class="offre-details-main">
        <div class="box-offre">
            <div class="info-offre">
                <h3>Caractéristiques</h3>

                <table class="offre-features">
                    <tr>
                        <td>
                            <i class="fas fa-location-arrow"></i>
                        </td>
                        <td>
                            @Model.NomTerrain, @Model.NomVille
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-list" src="~/img/icons/espece/@(Model.IdEspeceTroupeau).png" />
                        </td>
                        <td>
                            @Model.NomRaceTroupeau (@Model.NombreBetes)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-calendar-alt"></i>
                        </td>
                        <td>
                            Du @Model.DateDebut.ToString("dd/MM/yy") au @Model.DateFin.ToString("dd/MM/yy")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-tachometer-alt"></i>
                        </td>
                        <td>
                            Type de tonte : @Model.NomTypeTonte
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-list" src="~/img/icons/install.png" />
                        </td>
                        <td>
                            Installation à @InstallationString
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-binoculars"></i>
                        </td>
                        <td>
                            Fréquence d'intervention : tous les @Model.FrequenceIntervention jours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-times fa-lg"></i>
                        </td>
                        <td>
                            Conditions d'annulation : ???????????
                            <i class="far fa-question-circle" title="Annulation gratuite jusqu’à XX jours avant la prestation, facturation de la prestation à hauteur de XX% au-delà."></i>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div class="offre-details-tarif">
        <div class="box-offre">
            <div class="info-offre tarif">
                <h3>Tarification</h3>
                <table class="tarif">
                    <tr>
                        <td>
                            Installation du matériel
                        </td>
                        <td class="prix">
                            @Model.PrixInstallationCloture€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Installation du bétail
                        </td>
                        <td class="prix">
                            @Model.PrixInstallationBetail€
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Frais de bétail
                        </td>
                        <td class="prix">
                            @Model.PrixBetail€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Frais d'intervention
                        </td>
                        <td class="prix">
                            @Model.PrixIntervention€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Frais de service
                        </td>
                        <td class="prix">
                            @Model.PrixService€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TVA (20%)
                        </td>
                        <td class="prix">
                            @Model.PrixTVA€
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Total</h4>
                        </td>
                        <td class="prix">
                            <h4>@Model.PrixConvenu€</h4>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="box-offre">
    <div class="info-offre">
        <h3>Historique</h3>
        <table class="historique-prestations">
            <tr>
                <td>
                    <i class="fas fa-arrow-up"></i>
                </td>
                <td>
                    Demande <strong>envoyée</strong> le @Model.DateDemande.ToString("dd/MM/yy") à partir de l'offre <a asp-controller="Offre" asp-action="Details" asp-route-id="@Model.IdOffre">@Model.NomOffre</a> de <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.Id">@Model.PrenomEleveur</a>.
                </td>
            </tr>
            @if (Model.DateValidation > Model.DateDemande)
            {
                <tr>
                    <td>
                        <i class="fas fa-check"></i>
                    </td>
                    <td>
                        Demande <strong>acceptée</strong> par <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.Id">@Model.PrenomEleveur</a> le @(((DateTime)(Model.DateValidation)).ToString("dd/MM/yy")).
                    </td>
                </tr>
            }
            else if (Model.DateRefus > Model.DateDemande)
            {
                <tr>
                    <td>
                        <i class="fas fa-times fa-lg"></i>
                    </td>
                    <td>
                        Demande <strong>refusée</strong> par <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.Id">@Model.PrenomEleveur</a> le @(((DateTime)(Model.DateRefus)).ToString("dd/MM/yy")) (Motif: @Model.DescriptionRefus).
                    </td>
                </tr>
            }
            @foreach (NegociationDetail nd in Model.Negociations)
            {
                <tr>
                    <td>
                        <i class="fas fa-comment-dollar"></i>
                    </td>
                    <td>
                        Négociation ouverte le @nd.DateOuverture.ToString("dd/MM/yy") :
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <ul>
                            @foreach (Proposition p in nd.Propositions)
                            {
                                if (p.IdUtilisateur == Model.IdEleveur)
                                {
                                    <li>
                                        <i class="far fa-file-alt"></i> <strong>@(p == nd.Propositions[0] ? "Proposition" : "Contre-proposition")</strong> envoyée par <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.Id">@Model.PrenomEleveur</a> le @p.DateCreation.ToString("dd/MM/yy")
                                        @if (p.DateAnnulation != null)
                                        {
                                            <i>@(p.DateAnnulation > p.DateCreation ? ((DateTime)p.DateAnnulation).ToString("dd/MM/yy") : "jour-même")</i>

                                        }
                                    </li>
                                    if (p.DateValidation != null)
                                    {
                                        <li><i class="fas fa-handshake"></i> Vous avez <strong>accepté</strong> la @(p == nd.Propositions[0] ? "proposition" : "contre-proposition") de <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.Id">@Model.PrenomEleveur</a> le @(((DateTime)p.DateValidation).ToString("dd/MM/yy"))</li>

                                    }
                                    else if (p.DateRefus != null)
                                    {
                                        <li><i class="fas fa-times"></i> Vous avez <strong>refusé</strong> la @(p == nd.Propositions[0] ? "proposition" : "contre-proposition") de <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.Id">@Model.PrenomEleveur</a> le @(((DateTime)p.DateValidation).ToString("dd/MM/yy"))</li>

                                    }
                                }
                                else
                                {
                                    <li>
                                        <i class="far fa-file-alt"></i> @(p == nd.Propositions[0] ? "Proposition faite" : "Contre-proposition envoyée") par <strong>vous</strong> le @p.DateCreation.ToString("dd/MM/yy")
                                        @if (p.DateAnnulation != null)
                                        {
                                            <i>Annulée le @(p.DateAnnulation == p.DateCreation ? ((DateTime)p.DateAnnulation).ToString("dd/MM/yy") : "jour-même)")</i>
                                        }
                                    </li>
                                    if (p.DateValidation != null)
                                    {
                                        <li><i class="fas fa-handshake"></i> <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.Id">@Model.PrenomEleveur</a> a <strong>accepté</strong> votre @(p == nd.Propositions[0] ? "proposition" : "contre-proposition") le @(((DateTime)p.DateValidation).ToString("dd/MM/yy"))</li>

                                    }
                                    else if (p.DateRefus != null)
                                    {
                                        <li><i class="fas fa-times"></i> <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.Id">@Model.PrenomEleveur</a> a <strong>refusé</strong> votre @(p == nd.Propositions[0] ? "proposition" : "contre-proposition") le @(((DateTime)p.DateRefus).ToString("dd/MM/yy"))</li>

                                    }
                                }
                            }
                        </ul>
                    </td>
                </tr>
            }

            <tr>
                <td>
                    <i class="fas fa-hourglass-start"></i>
                </td>
                <td>
                    La prestation <strong>@(Model.DateDebut > DateTime.Today ? "commencera" : "a commencé")</strong> le @Model.DateDebut.ToString("dd/MM/yy")
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <ul>
                        @*             @{
                                int nbInterventionsDemandees = 0;
                                int j = 0;
                                int nbInterventionsProgrammees = (int)(Model.DateFin - Model.DateDebut).TotalDays / Model.FrequenceIntervention;
                                for (int i = 0; i <= nbInterventionsProgrammees; i++)
                                {
                                    if(Model.DateDebut.AddDays(i * Model.FrequenceIntervention) > Model.Interventions)
                            {
                            }
                                    <li>
                                        <strong>Intervention programmée</strong> de <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.Id">@Model.PrenomEleveur</a> le @(Model.DateDebut.AddDays(i*Model.FrequenceIntervention))
                                    </li>

                                }

                            }*@
                    </ul>
                    <ul>
                        <li>
                            <strong>Intervention demandée</strong> par <strong>vous</strong> le xx/xx/xx
                        </li>
                        <li>
                            Demande d'intervention <strong>acceptée</strong> par <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@Model.Id">@Model.PrenomEleveur</a> le xx/xx/xx
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>
                    <i class="fas fa-hourglass-end"></i>
                </td>
                <td>
                    La prestation <strong>@(Model.DateFin > DateTime.Today ? "se terminera" : "s'est terminée")</strong> le @Model.DateFin.ToString("dd/MM/yy")
                </td>
            </tr>
        </table>
    </div>
</div>

@{ if (Model.DateAnnulation == null && Model.DateRefus == null && Model.DateValidation == null)
    {
        <div class="box-boutons">
            <a class="btn btn-dark" asp-controller="Prestation" asp-action="ForcerValidation" asp-route-id="@Model.Id"><i class="fas fa-skull-crossbones"></i> Forcer @Model.PrenomEleveur à valider</a>
        </div>
    }
}