@using Fr.EQL.AI109.Tontapat.Model

@model PropositionDetail

@{

    ViewData["Title"] = "Ouverture d'une négociation";
    string InstallationString = null;
    if (ViewBag.PrestationDetail.TypeInstallationFinal == true)
    {
        InstallationString = "de l'éleveur";
    }
    else
    {
        InstallationString = "du client";
    }

}


<h1>Négociation de la prestation #@ViewBag.PrestationDetail.DateDemande.ToString("yyMMdd")-@ViewBag.PrestationDetail.Id</h1>

@*    <div class="box-offre-details-header">
        <img class="img-offre-thumbnail-profil" src="~/img/photos/profile/@(ViewBag.PrestationDetail.IdEleveur).png" />
        Réalisée par <a asp-controller="Utilisateur" asp-action="Details" asp-route-id="@ViewBag.PrestationDetail.Id">@ViewBag.PrestationDetail.PrenomEleveur</a>
    </div>*@

<form name="PropositionDetail" method="post">
    <input type="hidden" asp-for="IdPrestation" value="@ViewBag.PrestationDetail.Id" />
    <input type="hidden" asp-for="IdUtilisateur" value="@ViewBag.PrestationDetail.IdClient" />
    <input type="hidden" asp-for="DateCreation" value="@DateTime.Now" />

    <div class="negociation">
        <div class="card-negociation">
            <div class="title-caracteristique-offre">
                <h3>
                    Récapitulatif de la prestation
                </h3>
            </div>
            <div class="details-offre">
                <table class="offre-features">
                    <tr>
                        <td>
                            <i class="fas fa-location-arrow"></i>
                        </td>
                        <td>
                            @ViewBag.PrestationDetail.NomTerrain, @ViewBag.PrestationDetail.NomVille
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-list" src="~/img/icons/espece/@(ViewBag.PrestationDetail.IdEspeceTroupeau).png" />
                        </td>
                        <td>
                            @ViewBag.PrestationDetail.NomRaceTroupeau (@ViewBag.PrestationDetail.NombreBetes)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-calendar-alt"></i>
                        </td>
                        <td>
                            Du @ViewBag.PrestationDetail.DateDebut.ToString("dd/MM/yy") au @ViewBag.PrestationDetail.DateFin.ToString("dd/MM/yy")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-tachometer-alt"></i>
                        </td>
                        <td>
                            Type de tonte : @ViewBag.PrestationDetail.NomTypeTonte
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-list" src="~/img/icons/install.png" />
                        </td>
                        <td>
                            Installation à @InstallationString
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-binoculars"></i>
                        </td>
                        <td>
                            Fréquence d'intervention : tous les @ViewBag.PrestationDetail.FrequenceIntervention jours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-times fa-lg"></i>
                        </td>
                        <td>
                            Conditions d'annulation : Strictes
                            <i class="far fa-question-circle" title="Annulation gratuite jusqu’à XX jours avant la prestation, facturation de la prestation à hauteur de XX% au-delà."></i>
                        </td>
                    </tr>

                </table>
            </div>
        </div>


        <div class="card-negociation">
            <div class="title-negociation-card">
                <h3>
                    1. Argumentaire
                </h3>
            </div>

                <div class="champ-terrain">
                    Ecrivez un message décrivant votre besoin, la nécessité de modifier les termes de la prestation.

                    <textarea cols="50" rows="10" style="height: 150px;" asp-for="Description"></textarea>
                </div>
        </div>






        <div class="card-negociation">
            <div class="title-negociation-card">
                <h3>
                    2. Sélectionnez votre nouveau terrain
                </h3>
            </div>
            <div class="champs-negociation">
                <div class="champ-terrain">
                    Le choix d'un nouveau terrain entrainera un recalcul du prix total proposé en fonction de sa distance avec la localisation du troupeau.
                    Vous pouvez également négocier le prix.
                    <label asp-for="IdTypeTonte">Votre terrain : </label>
                    <select asp-for="IdTerrain" id="terrain">
                        @foreach (Terrain t in ViewBag.Terrains)
                        {
                            if (t.Id == ViewBag.PrestationDetail.IdTerrain)
                            {
                                <option value="@t.Id" selected>@t.Nom</option>
                            }
                            else
                            {
                                <option value="@t.Id">@t.Nom</option>
                            }
                        }
                    </select>
                </div>
                <div class="info-distance">

                </div>
            </div>
        </div>
        <div class="card-negociation">
            <div class="title-negociation-card">
                <h3>
                    3. Sélectionnez les nouveaux détails de la prestation
                </h3>
            </div>
            <div class="champs-negociation">
                <div class="type-tonte">
                    <label asp-for="IdTypeTonte">Type de tonte : </label>
                    <select asp-for="IdTypeTonte" id="type_tonte">
                        <option value="" disabled selected>Type de tonte...</option>
                        @foreach (TypeTonte tt in ViewBag.TypesTonte)
                        {
                            if (tt.Id == ViewBag.PrestationDetail.IdTypeTonte)
                            {
                                <option value="@tt.Id" selected>@tt.Nom</option>
                            }
                            else
                            {
                                if (tt.Id != 4)
                                {
                                    <option value="@tt.Id">@tt.Nom</option>
                                }

                            }

                        }

                    </select>
                </div>
                <div class="type-installation">
                    <label asp-for="IdTypeTonte">Type d'installation : </label>
                    <select asp-for="TypeInstallation" id="">
                        <option value="" disabled selected>Type d'installation...</option>
                        @if (ViewBag.PrestationDetail.TypeInstallationFinal == true)
                        {
                            <option value="true" selected>Eleveur</option>
                            <option value="false">Client</option>
                        }
                        else if (ViewBag.PrestationDetail.TypeInstallationFinal == false)
                        {
                            <option value="true">Eleveur</option>
                            <option value="false" selected>Client</option>
                        }

                    </select>
                </div>
            </div>
        </div>
        <div class="card-negociation">
            <div class="title-negociation-card">
                <h3>
                    4. Choisissez vos nouvelles dates de prestation
                </h3>
            </div>
            <div class="champs-negociation">
                <div class="date-debut">
                    <label asp-for="IdTypeTonte">Date de début : </label>
                    <input type="date" id="date_debut" asp-for="DateDebutPrestation"
                           value="@ViewBag.PrestationDetail.DateDebut.ToString("yyyy-MM-dd")" />
                </div>
                <div class="date-fin">
                    <label asp-for="IdTypeTonte">Date de fin : </label>
                    <input type="date" id="date_fin" name="DateFinPrestation"
                           value="@ViewBag.PrestationDetail.DateFin.ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>
        <div class="card-negociation">
            <div class="title-negociation-card">
                <h3>
                    5. Proposez un prix final
                </h3>
            </div>
            <div class="champs-negociation">
                <div class="prix-propose">
                    <label asp-for="PrixPropose">Prix final : </label>
                    <input type="text" id="prix_propose" asp-for="PrixPropose"
                           value="@ViewBag.PrestationDetail.PrixConvenu" /> €
                </div>
            </div>
        </div>
        <div class="bouton-negociation">
            <!--
        <form id="negociation" method="get" asp-controller="Negociation" asp-action="index">
            <input type="hidden" name="IdOffre" value=""/>
            <input type="hidden" name="IdTerrain" value=""/>
            <input type="hidden" name="IdTypeTonte" value=""/>
            <input type="hidden" name="Distance" value=""/>
            <input type="hidden" name="NbBetes" value=""/>
            <input type="hidden" name="TypeInstallation" value=""/>
            <input type="hidden" name="DateDebut" value=""/>
            <input type="hidden" name="DateFin" value=""/>
            <input type="hidden" name="Duree" value=""/>
            <input type="hidden" name="PrixInstallationBetail" value=""/>
            <input type="hidden" name="PrixInstallationCloture" value=""/>
            <input type="hidden" name="PrixBetail" value=""/>
            <input type="hidden" name="PrixIntervention" value=""/>
            <input type="hidden" name="PrixService" value=""/>
            <input type="hidden" name="PrixTVA" value=""/>
            <input type="hidden" name="PrixTotal" value=""/>

        </form>
            -->
            <div class="box-boutons">
                <button class="btn-success" type="submit">Valider la proposition</button>
                <button class="btn-danger" type="reset">Annuler</button>
            </div>
        </div>
    </div>
</form>