@using Fr.EQL.AI109.Tontapat.Model

@model PropositionDetail

@{
    string InstallationString = null;
    if (ViewBag.PrestationDetail.TypeInstallationFinal == true)
    {
        InstallationString = "de l'éleveur";
    }
    else
    {
        InstallationString = "du client";
    }

}

<form name="PropositionDetail" method="post">
    <input type="hidden" asp-for="IdPrestation" value="@ViewBag.PrestationDetail.Id" />
    <input type="hidden" asp-for="IdUtilisateur" value="@ViewBag.PrestationDetail.IdClient" />
    <input type="hidden" asp-for="DateCreation" value="@DateTime.Now" />


    <div class="negociation">
        <div class="en-tete-negociation">
            <h2>Titre Offre à négocier</h2>
        </div>
        <div class="card-negociation card">
            <div class="title-caracteristique-offre">
                <h3>
                    Caractéristiques de l’offre initiale
                </h3>
            </div>
            <div class="details-offre">
                <ul>
                    <li>@ViewBag.PrestationDetail.NomTerrain</li>
                    <li>@ViewBag.PrestationDetail.NomRaceTroupeau</li>
                    <li>De @ViewBag.PrestationDetail.DateDebut à @ViewBag.PrestationDetail.DateFin</li>
                    <li>Installation à la charge @InstallationString</li>
                    <li>Tonte @ViewBag.PrestationDetail.NomTypeTonte</li>
                    <li>A @ViewBag.PrestationDetail.Distance km de votre terrain choisi</li>
                </ul>
            </div>
        </div>
        <div class="card-negociation card">
            <div class="title-negociation-card">
                <h3>
                    1. Sélectionnez votre terrain
                </h3>
            </div>
            <div class="champs-negociation">
                <div class="champ-terrain">
                    <select asp-for="IdTerrain" id="terrain">
                        @foreach (Terrain t in ViewBag.Terrains)
                        {
                            <option value="@t.Id">@t.Nom</option>
                        }
                    </select>
                </div>
                <div class="info-distance">
                    infos à compléter
                </div>
            </div>
        </div>
        <div class="card-negociation card">
            <div class="title-negociation-card">
                <h3>
                    2. Sélectionnez les détails de la prestation
                </h3>
            </div>
            <div class="champs-negociation">
                <div class="type-tonte">

                    <select asp-for="IdTypeTonte" id="type_tonte">
                        <option value="" disabled selected>Type de tonte...</option>
                        @foreach (TypeTonte tt in ViewBag.TypesTonte)
                        {
                            <option value="@tt.Id">@tt.Nom</option>
                        }

                    </select>
                </div>
                <div class="type-installation">
                    <select asp-for="TypeInstallation" id="">
                        <option value="" disabled selected>Type d'installation...</option>
                        <option value="true">Eleveur</option>
                        <option value="false">Client</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-negociation card">
            <div class="title-negociation-card">
                <h3>
                    3. Choisissez votre date de début
                </h3>
            </div>
            <div class="champs-negociation">
                <div class="date-debut">
                    <input type="date" id="date_debut" asp-for="DateDebutPrestation"
                           value="@DateTime.Today.AddDays(14).ToString("yyyy-MM-dd")" />
                </div>
                <div class="date-fin">
                    <input type="date" id="date_fin" name="DateFinPrestation"
                           value="@DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>
        <div class="bouton-negociation">
            <!--
            <form id="negociation" method="get" asp-controller="Negociation" asp-action="index">
                <input type="hidden" name="IdOffre" value=""/>
                <input type="hidden" name="IdTerrain" value=""/>
                <input type="hidden" name="IdTypeTonte" value=""/>
                <input type="hidden" name="Distance" value=""/>
                <input type="hidden" name="NbBetes" value=""/>
                <input type="hidden" name="TypeInstallation" value=""/>
                <input type="hidden" name="DateDebut" value=""/>
                <input type="hidden" name="DateFin" value=""/>
                <input type="hidden" name="Duree" value=""/>
                <input type="hidden" name="PrixInstallationBetail" value=""/>
                <input type="hidden" name="PrixInstallationCloture" value=""/>
                <input type="hidden" name="PrixBetail" value=""/>
                <input type="hidden" name="PrixIntervention" value=""/>
                <input type="hidden" name="PrixService" value=""/>
                <input type="hidden" name="PrixTVA" value=""/>
                <input type="hidden" name="PrixTotal" value=""/>

            </form>
                -->
            <button type="submit">Valider la demande de négociation</button>
        </div>
    </div>
</form>